body{
    background-color: black;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
}
img{
    width: 250px;
    height: 340px;
    object-fit: cover;
    border-radius: 40px;
    margin-right: 20px;
    cursor: pointer;
}
img{
    transition: width 0.5s ease-in-out;
}
img:hover{
    width: 400px;
    border-radius: 20px;
}